#footer
{
    position:relative;
    width:100%;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
}
#footer #icons-div
{
    position:relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 15px;
}
#footer #sections-div button 
{
    position: relative;
    padding:10px 20px;
    margin:0px 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    border:none;
    color:white;
}
#footer #icons-div .icon
{
    position: relative;
    width:30px;
    height:25px;
    border-radius: 50%;
    padding:12px;
    background-color: white;
}
#footer #icons-div .youtube:hover
{
    background-color:red;
    color:white;
}
#footer #icons-div .whatsap:hover
{
    background-color:green;
    color:white;
}
#footer #icons-div .google:hover
{
    background-color:yellow;;
    color:black;
}
#footer #icons-div .instagram:hover
{
    background:linear-gradient(to left,red,blue);
    color:white;
}
#footer #icons-div .facebook:hover
{
    background-color:blue;
    color:white;
}
#footer p 
{
    color:dimgray;
}
